window {
   border: none;
   background-color: transparent;
} 

#input {
    background-color: #1c1c1c;
    border: none;
    border-radius: 0;
    color: #bcbcbc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#scroll {
    background-color: #1c1c1c;
    border-top-width: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #6c6c6c;
}

#entry:selected {
    background-color: #1a2c50;
    color: #bcbcbc;
}
